html, body {
  overflow-x: hidden;
}

body {
  font-family: "Kiwi Maru", serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f6f5ea;
  text-align: center;
  color: #545454;
  font-size: 24px;
}

/* header {
  padding: 16px 0;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
} */


.container {
  max-width: 800px;
  margin: 0 auto;
  width: calc(100% - 32px);
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

section {
  padding: 60px 20px;
  margin: 0;
}
footer {
  text-align: center;
  padding: 40px 20px;
  font-size: 0.9em;
  color: #555;
}

#date {
  margin-top: 0;
  margin-bottom: 100px;
}

.hamburger {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 999;
}

/* メニューアイコンのアニメーション用のクラス */
.spin {
  transition: transform 0.7s cubic-bezier(0.4,2,0.6,1);
  transform: rotate(360deg);
}

.nav-menu {
  padding: 80px 30px;
  position: fixed;
  right: 0;
  background: #eb9392;
  display: none; /* 最初は非表示 */
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;          /* 文字を左揃え */
  align-items: flex-start;   /* Flexアイテム（aタグ等）も左寄せ */
}

.nav-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #f6f5ea;
  border-bottom: 1px solid #f6f5ea;
  cursor: pointer;
}

.nav-menu a:hover {
}

.bi {
  font-size: 2rem;
}

.curved-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 180px; /* 好きな幅 */
  height: 100%;
  background: #eb9392;
  opacity: 0.9;
  padding-left: 150px;
  clip-path: ellipse(70% 70% at 100% 50%);
}

.bi {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-right: 4px;
}


/* features */

.features {
  padding: 64px 0;
}

.feature {
  margin-top: 64px;
}

.feature h3 {
  margin-top: 16px;
}

.feature p {
  margin-top: 16px;
}

.image {
  text-align: center;
}

@media(min-width: 600px) {

  /* header */

  .logo-sp {
    display: none;
  }

  .logo-pc {
    display: inline;
  }

  /* hero */

  .hero .container {
    display: flex;
    align-items: center;
  }

  .hero-1,
  .hero-2 {
    flex: 1;
  }

  .hero img {
    margin-top: 0;
  }

  /* features */

  .feature {
    display: flex;
    gap: 32px;
  }

  .image {
    width: 300px;
  }

  .desc {
    flex: 1;
  }

  .reversed {
    flex-direction: row-reverse;
  }
}